service: graphql-serverless-scaffold

provider:
  name: aws
  runtime: nodejs18.x
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'eu-west-1'}
  tracing:
    apiGateway: true
    lambda: true
  iamRoleStatements:
    - Effect: 'Allow'
      Action:
        - 'sts:AssumeRole'
      Resource: '*'

plugins:
  - serverless-offline
  - serverless-prune-plugin
  - serverless-webpack

custom:
  serverless-offline:
    useChildProcesses: true
  prune:
    automatic: true
    number: 3
  webpack:
    webpackConfig: 'webpack.config.js'
    packager: 'npm'
    includeModules: true

package:
  individually: true
  exclude:
    - .git/**
    - tmp/**

functions:
  graphql:
    # this is formatted as <FILENAME>.<HANDLER>
    handler: src/functions/graphql.handler
    events:
      - http:
          path: graphql
          method: post
          cors: true
      - http: # Apollo playground
          path: graphql
          method: get
          cors: true

resources:
  Resources:
    AWSLambdaVPCAccessExecutionRole:
      Type: AWS::IAM::ManagedPolicy
      Properties:
        Description: Lambda policy for vpc execution.
        Roles:
          - { 'Ref': 'IamRoleLambdaExecution' }
        PolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action:
                - ec2:CreateNetworkInterface
                - ec2:DescribeNetworkInterfaces
                - ec2:DeleteNetworkInterface
              Resource: '*'
